# --- Seguridad (CRÍTICO) ---
.env
.env.local
config.py

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# --- Datos Locales y Temporales ---
*.xlsx
*.csv
postgres_data/
metabase_data/
logs/

# --- IDEs (Configuraciones de editor) ---
.vscode/
.idea/
*.swp

# --- Sistema Operativo ---
.DS_Store
Thumbs.db