version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: Pass123
      POSTGRES_DB: legislacion_db
    ports:
      - "5432:5432"
    volumes:
      - ./db:/var/lib/postgresql/data
  app:
    build: .
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://admin:Pass123@db:5432/legislacion_db
      GEMINI_API_KEY: ${GEMINI_API_KEY}
    volumes:
      - ./src:/app/src
      - ./config:/app/config
volumes:
  postgres_data:
